{% extends "base.html" %}
{% load mathfilters custom_filters %}

{% block content %}
<h1>Final Round - {{ final_round.tournament.name }}</h1>

{% load static %}

<style>
  
    .tournament-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start; /* Modification ici pour aligner les cellules à gauche */
    }

    .round {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 20px;
    }

    .match {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 10px;
        width: 150px;
        text-align: center;
    }
    </style>
    
 
<p>Total matches: {{ final_round.matches.all|length }}</p>

<!-- {% for match in final_round.matches.all %}
<p>Match ID: {{ match.id }}, Team 1: {{ match.team1.name }}, Team 2: {{ match.team2.name }}</p>
{% endfor %} -->

<div class="tournament-container">
    <div class="round">
    {% for match in final_round.matches.all %}
        <div class="match">
            <div>{{ match.team1.name }} {% if match.score1 %}({{ match.score1 }}){% endif %}</div>
            <div>{{ match.team2.name }} {% if match.score2 %}({{ match.score2 }}){% endif %}</div>
            <div>Date: {{ match.date }}</div>
            <div>Hour: {{ match.hour }}</div>
            <div>Place: {{ match.place }}</div>
         
    </div>
    {% endfor %}
</div>
{% endblock %}
