{% extends 'base.html'%}


{% comment %}
Extend site-wide base HTML template located in main templates/ dir
(same level as manage.py)
{% endcomment %}

{% block title %}Match Details{% endblock title%}

{% block content %}

<div class="row pt-3">
    <a class="btn btn-primary" href="{% url 'tournaments:tournaments_list' %}">Back to Tournament list</a> 
</div>

<div class="row pt-3">
    <button class="btn btn-primary" onclick="history.go(-1);"><i class="fas fa-arrow-left"></i>Back to "{{ match.pool.tournament.name }}"</button> 
</div>

<div class="row pt-3">
    <button class="btn btn-primary" onclick="history.go(-2);"><i class="fas fa-arrow-left"></i>Back to "Pool number {{ match.pool.number }}"</button> 
</div>

<div class="row pb-3">
    <br>
</div>

<div class="row pb-3">
    <h1>Match : {{ match.score1 }} <b>{{ match.team1.name }}</b> VS <b>{{ match.team2.name }}</b> {{ match.score2 }}</h1> <br> 
</div>

<div class="row pb-3">
    <h3>
        <small>
            <ul>
                <li><b>Location</b> : {{ match.place }}</li> <br>
                <li><b>Date</b> : {{ match.date }}</li> <br>  
                <li><b>Hour</b> : {{ match.hour }}</li> <br>
            </ul>
        </small>
    </h3>
</div>

<br> </br>

<div class="row pb-3">
    <h1>Comments</h1>
</div>

<div class="row">
    {% if match.comment_set.all %}

        <table class="table table-striped">

            <thead>
            <tr>
                <th>Author</th>
                <th>Publication Date</th>
                <th>Comment</th>
                <th>Edit</th>
            </tr>
            </thead>

            <tbody>
                {% for comment in match.comment_set.all %}
                    <tr>
                        <td>{{ comment.author }}</td>
                        <td>{{ comment.pub_date }}</td>
                        <td>
                            {% if username|stringformat:"s" == comment.author and form and form.instance.id == comment.id %}
                                <form action="{% url 'tournaments:update_comment' match.id form.instance.id %}" method="POST">
                                    {% csrf_token %}
                                    {{ form }}
                                    <input type="submit" length="10px"></button>
                                </form>
                            {% else %}
                                {{ comment.message }}
                            {% endif %}
                        </td>
                        <td>
                            {% if username|stringformat:"s" == comment.author %}
                                {% if not form or form.instance.id != comment.id %}
                                    <a class="btn btn-primary" href="{% url 'tournaments:update_comment' match.id comment.id %}">Edit</a>
                                {% endif %}
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}
            </tbody>

        </table>

    {% else %}
        <div class="jumbotron"><i>No comment yet for this match.</i></div>
    {% endif %}
</div>

<br> <br>

<div class="row">
    {% if username %}
        <form action="{% url 'tournaments:match_details' match.id %}" method="POST">
            {% csrf_token %}
            <label for="message"> Comment the match :</label>
            <input type="text" id="message" name="message">
            <button type="submit"> Send </button>
        </form>
    {% else %}
        <div class="jumbotron"><i>Please <a href="{% url 'login' %}"> login </a> to comment this match.</i></div>
    {% endif %}
</div>

{% endblock content %}