{% extends 'base.html' %}

{% comment %}
Extend site-wide base HTML template located in main templates/ dir
(same level as manage.py)
{% endcomment %}

{% block title %}Match Details{% endblock title%}

{% block content %}

<h1>Match :</h1>

{{ match.score1 }} <b>{{ match.team1.name }}</b> VS <b>{{ match.team2.name }}</b> {{ match.score2 }} <br> </br>
<ul>
    <li><b>Location</b> : {{ match.place }}</li> <br>
    <li><b>Date</b> : {{ match.date }}</li> <br>  
    <li><b>Hour</b> : {{ match.hour }}</li> <br>
</ul>

<br> </br>
<h1>Comments</h1>

Please <a href="{% url 'login' %}"> login </a> to comment this match.

{% endblock content %}