{% extends 'base.html'%}


{% comment %}
Extend site-wide base HTML template located in main templates/ dir
(same level as manage.py)
{% endcomment %}

{% block title %}Match Details{% endblock title%}

{% block content %}

<div class="results-btn">
    <button onclick="history.go(-1);"><i class="fas fa-arrow-left"></i> Pool number {{ match.pool.number }} </button>
</div>
<div class="results-btn">
    <button onclick="history.go(-2);"><i class="fas fa-arrow-left"></i> {{ match.pool.tournament.name }} </button>
</div>

<h1>Match :</h1>

{{ match.score1 }} <b>{{ match.team1.name }}</b> VS <b>{{ match.team2.name }}</b> {{ match.score2 }} <br> </br>
<ul>
    <li><b>Location</b> : {{ match.place }}</li> <br>
    <li><b>Date</b> : {{ match.date }}</li> <br>  
    <li><b>Hour</b> : {{ match.hour }}</li> <br>
</ul>

<br> </br>
<h1>Comments</h1> 

{% if match.comment_set.all %}
    <ul>
    {% for comment in match.comment_set.all %}
        <li>Comment by <b>{{ comment.author }}</b>, posted on {{ comment.pub_date }} : <br> </br>

            {% if username|stringformat:"s" == comment.author and form and form.instance.id == comment.id %}
                <form action="{% url 'tournaments:update_comment' match.id form.instance.id %}" method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit"></button>
                </form>
            {% else %}
                <p>{{ comment.message }}</p></li>
                {% if username|stringformat:"s" == comment.author %}
                    <a href="{% url 'tournaments:update_comment' match.id comment.id %}"><button>Edit</button></a> <br> <br>
                {% endif %}
            {% endif %}

    {% endfor %}
    </ul>
{% else %}
    <p>No comment yet for this match !.</p>
{% endif %}

<br> <br>

{% if username %}
    <form action="{% url 'tournaments:match_details' match.id %}" method="POST">
        {% csrf_token %}
        <label for="message"> Comment the match :</label>
        <input type="text" id="message" name="message">
        <button type="submit"> Send </button>
    </form>

    <br> <br>
{% else %}
    Please <a href="{% url 'login' %}"> login </a> to comment this match. <br> <br>
{% endif %}

{% endblock content %}