{% extends 'base.html' %}

{% comment %}
Extend site-wide base HTML template located in main templates/ dir
(same level as manage.py)
{% endcomment %}

{% block title %}Pool Details{% endblock title%}

{% block content %}

{% if pool.match_set.all %}
    <h1>Teams</h1>
    <ul>
    {% for team in teams_ranked %}
        <li>Name = <b>{{ team.name }}</b> ; Pool Points = {{ team.pool_points }} ; Scored = {{ team.scored }} ; Conceded = {{ team.conceded }}</li><br> </br>
    {% endfor %}
    </ul>

    <h1>Matchs</h1>
    <ul>
    {% for match in pool.match_set.all %}
        <a href="{% url 'tournaments:match_details' match.id %}">{{ match.score1 }} <b>{{ match.team1.name }}</b> VS <b>{{ match.team2.name }}</b> {{ match.score2 }}</a> <br> </br>
        <ul>
            <li><b>Location</b> : {{ match.place }}</li> <br>
            <li><b>Date</b> : {{ match.date }}</li> <br>  
            <li><b>Hour</b> : {{ match.hour }}</li> <br>
        </ul>
    {% endfor %}
    </ul>
{% else %}
    <p>No match in the pool.</p>
{% endif %}

{% endblock content %}