{% extends 'base.html'%}

{% comment %}
Extend site-wide base HTML template located in main templates/ dir
(same level as manage.py)
{% endcomment %}

{% block title %}Pool Details{% endblock title%}

{% block content %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        {% if username %}
            <a class="navbar-brand">Welcome <b>{{ username }}</b> !</a>
        {% endif %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'tournaments:tournaments_list' %}">Tournament list</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'tournaments:tournament_details' pool.tournament.id %}">{{ pool.tournament.name }}</a></li>
                <li class="nav-item"><a class="nav-link">Pool number {{ pool.number }}</a></li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            {% if username %}
                <form action="{%url 'logout'%}">
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <li><button type="submit" class="btn btn-danger navbar-btn"><span class="glyphicon glyphicon-log-out"></span>Logout</button></li>
                </form>
            {% else %}
                <form action="{%url 'login'%}">
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <li><button type="submit" class="btn btn-danger navbar-btn"><span class="glyphicon glyphicon-log-in"></span>Login</button></li>
                </form>
            {% endif %}
        </ul>
    </div>
</nav>

<br> 


{% if pool.match_set.all %}
    <div class="row"></div>
        <div class="row pb-3">
            <h1>Teams</h1>
        </div>

        <table class="table table-striped">

            <thead>
            <tr>
                <th>Team</th>
                <th>Pool Points</th>
                <th>Scored</th>
                <th>Conceded</th>
            </tr>
            </thead>

            <tbody>
                {% for team in teams_ranked %}
                    <tr>
                        <td>{{ team.name }}</td>
                        <td>{{ team.pool_points }}</td>
                        <td>{{ team.scored }}</td>
                        <td>{{ team.conceded }}</td>

                    </tr>
                {% endfor %}
            </tbody>

        </table>

        <div class="row pb-3">
            <br>
        </div>
    
        <div class="row pb-3">
            <h1>Matchs</h1>
        </div>

        <table class="table table-striped">

            <thead>
            <tr>
                <th>Match</th>
                <th>Location</th>
                <th>Date</th>
                <th>Hour</th>
            </tr>
            </thead>

            <tbody>
                {% for match in pool.match_set.all %}
                    <tr>
                        <td><a href="{% url 'tournaments:match_details' match.id %}">{{ match.score1 }} <b>{{ match.team1.name }}</b> VS <b>{{ match.team2.name }}</b> {{ match.score2 }}</a></td>
                        <td>{{ match.place }}</td>
                        <td>{{ match.date }}</td>
                        <td>{{ match.hour }}</td>

                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
{% else %}
    <div class="jumbotron"><i>No match in the pool.</i></div> <br>
    {% if username|stringformat:"s" == "admin" %}
        <a class="btn btn-primary" href="{% url 'tournaments:compute_matches' pool.id 1 %}">Compute all matches possible</a>
    {% endif %}    
    {% if username|stringformat:"s" == "raph" %}
    <a class="btn btn-primary" href="{% url 'tournaments:compute_matches' pool.id 1 %}">Compute all matches possible</a>
    {% endif %}    
{% endif %}

<div>

    {% include 'tournaments/scatter_plot.html' %}
    
<p> test </p>
</div>



{% endblock content %}