{% if username %}
    Welcome {{ username }} ! <br> <br>
    <form action="{%url 'logout'%}">
        <input type="hidden" name="next" value="{{ request.path }}">
        <button type="submit"> Logout </button>
    </form>
{% else %}
    <form action="{%url 'login'%}">
        <input type="hidden" name="next" value="{{ request.path }}">
        <button type="submit"> Login </button>
    </form>
{% endif %}

{% if tournaments_list %}
    <ul>
    {% for tournament in tournaments_list %}
    <li> <h3> <a href="{% url 'tournaments:tournament_details' tournament.id %}">{{ tournament.name }}</a> :</h3> </li>
    Location : {{ tournament.place }} <br>
    Date : {{ tournament.date }} <br>
    {% endfor %}
    </ul>
{% else %}
    <p>No tournament in the database.</p>
{% endif %}