{% load static %}

{# Load the tag library #}
{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Tournaments{% endblock %}</title>

    {# Load Bootstrap CSS #}
    {% bootstrap_css %}

    <style>
        .navbar a.nav-link:hover {
            background-color: grey;
        }
    </style>

</head>

<body>
    <div class="container">
        <div class="row pb-3">
            <header>
                <a href="{% url 'tournaments:tournaments_list'%}">
                <img src="{% static 'images/tournament_logo.webp' %}" width="1300px" alt="logo"/> </a><br/> <br/>
                <h1 style="text-align:center">Tournament Assignment</h1>
            
            </header>
        </div>
    
        <br> 

        {% block content %}{% endblock %}

        <div class="row pt-5">
            <footer>
                <em>&copy; ISAE-SUPAERO</em>
            </footer>
        </div>
    </div>

    {# Load Bootstrap Javascript #}
    {% bootstrap_javascript %}

</body>
</html>